In [ ]:
# Inporta la libreria-Asignar un alias
import pandas as pd

In [ ]:
notasemillero=pd.DataFrame({"Nombres":["pedro", "darden", "leidy", "luis", "marta","andrea", "carlos","felipe","andres", "julian"],
                            "Semestre":[10,9,7,8,10,9,10,8,9,8]})
print(notasemillero)

  Nombres  Semestre
0   pedro        10
1  darden         9
2   leidy         7
3    luis         8
4   marta        10
5  andrea         9
6  carlos        10
7  felipe         8
8  andres         9
9  julian         8

In [ ]:
notasemillero["Nota1"]=3
notasemillero

  Nombres  Semestre  Nota1
0   pedro        10      3
1  darden         9      3
2   leidy         7      3
3    luis         8      3
4   marta        10      3
5  andrea         9      3
6  carlos        10      3
7  felipe         8      3
8  andres         9      3
9  julian         8      3

In [ ]:
notasemillero["Nota2"]=[3.1,4.2,3.3,4.5,4,4,3.8,5,4,3.1]
notasemillero

  Nombres  Semestre  Nota1  Nota2
0   pedro        10      3    3.1
1  darden         9      3    4.2
2   leidy         7      3    3.3
3    luis         8      3    4.5
4   marta        10      3    4.0
5  andrea         9      3    4.0
6  carlos        10      3    3.8
7  felipe         8      3    5.0
8  andres         9      3    4.0
9  julian         8      3    3.1

In [ ]:
notasemillero.insert(4,"Ciudad",["Manizales","Pereira","Armenia","Cordoba","Popayan","Manizales","Pereira","Manizales","Medellin","Pereira"])
notasemillero

  Nombres  Semestre  Nota1  Nota2     Ciudad
0   pedro        10      3    3.1  Manizales
1  darden         9      3    4.2    Pereira
2   leidy         7      3    3.3    Armenia
3    luis         8      3    4.5    Cordoba
4   marta        10      3    4.0    Popayan
5  andrea         9      3    4.0  Manizales
6  carlos        10      3    3.8    Pereira
7  felipe         8      3    5.0  Manizales
8  andres         9      3    4.0   Medellin
9  julian         8      3    3.1    Pereira

In [ ]:
notasemillero=notasemillero.assign(Departamento=["Caldas","Risaralda","Quindio","Monteria","Cauca","Caldas","Risaralda","Caldas","Quindio","Pereira"])
notasemillero

  Nombres  Semestre  Nota1  Nota2     Ciudad Departamento
0   pedro        10      3    3.1  Manizales       Caldas
1  darden         9      3    4.2    Pereira    Risaralda
2   leidy         7      3    3.3    Armenia      Quindio
3    luis         8      3    4.5    Cordoba     Monteria
4   marta        10      3    4.0    Popayan        Cauca
5  andrea         9      3    4.0  Manizales       Caldas
6  carlos        10      3    3.8    Pereira    Risaralda
7  felipe         8      3    5.0  Manizales       Caldas
8  andres         9      3    4.0   Medellin      Quindio
9  julian         8      3    3.1    Pereira      Pereira

In [ ]:
#Para este caso debemos conocer la posición para nuestra fila

notasemillero.loc[10]=["lucia",7,4.5,3.5,"Armenia","Quindio"]
notasemillero.loc[3]=["Carolina",7,4.5,3.5,"Armenia","Quindio"]
notasemillero.loc[13]=["María",7,4.5,3.5,"Armenia","Quindio"]
notasemillero

     Nombres  Semestre  Nota1  Nota2     Ciudad Departamento
0      pedro        10    3.0    3.1  Manizales       Caldas
1     darden         9    3.0    4.2    Pereira    Risaralda
2      leidy         7    3.0    3.3    Armenia      Quindio
3   Carolina         7    4.5    3.5    Armenia      Quindio
4      marta        10    3.0    4.0    Popayan        Cauca
5     andrea         9    3.0    4.0  Manizales       Caldas
6     carlos        10    3.0    3.8    Pereira    Risaralda
7     felipe         8    3.0    5.0  Manizales       Caldas
8     andres         9    3.0    4.0   Medellin      Quindio
9     julian         8    3.0    3.1    Pereira      Pereira
10     lucia         7    4.5    3.5    Armenia      Quindio
13     María         7    4.5    3.5    Armenia      Quindio

Metodo appen, con este puedo omitir el indice ignore_intex=True

In [ ]:
notasemillero=notasemillero.append({'Nombres':'Laurita','Semestre':9,'Nota1':3.8,
                                    'Nota2':4,'Ciudad':'Armenia','Departamento':'Quindio'},ignore_index=True)
notasemillero

     Nombres  Semestre  Nota1  Nota2     Ciudad Departamento
0      pedro        10    3.0    3.1  Manizales       Caldas
1     darden         9    3.0    4.2    Pereira    Risaralda
2      leidy         7    3.0    3.3    Armenia      Quindio
3   Carolina         7    4.5    3.5    Armenia      Quindio
4      marta        10    3.0    4.0    Popayan        Cauca
5     andrea         9    3.0    4.0  Manizales       Caldas
6     carlos        10    3.0    3.8    Pereira    Risaralda
7     felipe         8    3.0    5.0  Manizales       Caldas
8     andres         9    3.0    4.0   Medellin      Quindio
9     julian         8    3.0    3.1    Pereira      Pereira
10     lucia         7    4.5    3.5    Armenia      Quindio
11     María         7    4.5    3.5    Armenia      Quindio
12   Laurita         9    3.8    4.0    Armenia      Quindio

Filtros, pandas nos permiten realiar filtro por una o varias

In [ ]:
df1=(notasemillero[["Nota1","Nota2"]])
print(df1)

    Nota1  Nota2
0     3.0    3.1
1     3.0    4.2
2     3.0    3.3
3     4.5    3.5
4     3.0    4.0
5     3.0    4.0
6     3.0    3.8
7     3.0    5.0
8     3.0    4.0
9     3.0    3.1
10    4.5    3.5
11    4.5    3.5
12    3.8    4.0

In [ ]:
#Imprimir filas, paso los indices en una lista haciendo uso del metodo
print(notasemillero.iloc[[2,3,8,9]])

    Nombres  Semestre  Nota1  Nota2    Ciudad Departamento
2     leidy         7    3.0    3.3   Armenia      Quindio
3  Carolina         7    4.5    3.5   Armenia      Quindio
8    andres         9    3.0    4.0  Medellin      Quindio
9    julian         8    3.0    3.1   Pereira      Pereira

print(notasemillero.info())

In [ ]:
print(notasemillero.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombres       13 non-null     object
 1   Semestre      13 non-null     int64
 2   Nota1         13 non-null     float64
 3   Nota2         13 non-null     float64
 4   Ciudad        13 non-null     object
 5   Departamento  13 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 752.0+ bytes
None

In [ ]:
df3=notasemillero.append({"Nombres":"Carmen"},ignore_index=True)
df3

     Nombres  Semestre  Nota1  Nota2     Ciudad Departamento
0      pedro      10.0    3.0    3.1  Manizales       Caldas
1     darden       9.0    3.0    4.2    Pereira    Risaralda
2      leidy       7.0    3.0    3.3    Armenia      Quindio
3   Carolina       7.0    4.5    3.5    Armenia      Quindio
4      marta      10.0    3.0    4.0    Popayan        Cauca
5     andrea       9.0    3.0    4.0  Manizales       Caldas
6     carlos      10.0    3.0    3.8    Pereira    Risaralda
7     felipe       8.0    3.0    5.0  Manizales       Caldas
8     andres       9.0    3.0    4.0   Medellin      Quindio
9     julian       8.0    3.0    3.1    Pereira      Pereira
10     lucia       7.0    4.5    3.5    Armenia      Quindio
11     María       7.0    4.5    3.5    Armenia      Quindio
12   Laurita       9.0    3.8    4.0    Armenia      Quindio
13    Carmen       NaN    NaN    NaN        NaN          NaN

In [ ]:
print(df3.dropna())

     Nombres  Semestre  Nota1  Nota2     Ciudad Departamento
0      pedro      10.0    3.0    3.1  Manizales       Caldas
1     darden       9.0    3.0    4.2    Pereira    Risaralda
2      leidy       7.0    3.0    3.3    Armenia      Quindio
3   Carolina       7.0    4.5    3.5    Armenia      Quindio
4      marta      10.0    3.0    4.0    Popayan        Cauca
5     andrea       9.0    3.0    4.0  Manizales       Caldas
6     carlos      10.0    3.0    3.8    Pereira    Risaralda
7     felipe       8.0    3.0    5.0  Manizales       Caldas
8     andres       9.0    3.0    4.0   Medellin      Quindio
9     julian       8.0    3.0    3.1    Pereira      Pereira
10     lucia       7.0    4.5    3.5    Armenia      Quindio
11     María       7.0    4.5    3.5    Armenia      Quindio
12   Laurita       9.0    3.8    4.0    Armenia      Quindio

In [ ]:
print(df3.describe())

        Semestre      Nota1      Nota2
count  13.000000  13.000000  13.000000
mean    8.461538   3.407692   3.769231
std     1.198289   0.660128   0.520232
min     7.000000   3.000000   3.100000
25%     7.000000   3.000000   3.500000
50%     9.000000   3.000000   3.800000
75%     9.000000   3.800000   4.000000
max    10.000000   4.500000   5.000000

Crear columnas calculadas

In [ ]:
df3["Nota Final"]=(df3["Nota1"]+df3["Nota2"])/2
df3

     Nombres  Semestre  Nota1  Nota2     Ciudad Departamento  Nota Final
0      pedro      10.0    3.0    3.1  Manizales       Caldas        3.05
1     darden       9.0    3.0    4.2    Pereira    Risaralda        3.60
2      leidy       7.0    3.0    3.3    Armenia      Quindio        3.15
3   Carolina       7.0    4.5    3.5    Armenia      Quindio        4.00
4      marta      10.0    3.0    4.0    Popayan        Cauca        3.50
5     andrea       9.0    3.0    4.0  Manizales       Caldas        3.50
6     carlos      10.0    3.0    3.8    Pereira    Risaralda        3.40
7     felipe       8.0    3.0    5.0  Manizales       Caldas        4.00
8     andres       9.0    3.0    4.0   Medellin      Quindio        3.50
9     julian       8.0    3.0    3.1    Pereira      Pereira        3.05
10     lucia       7.0    4.5    3.5    Armenia      Quindio        4.00
11     María       7.0    4.5    3.5    Armenia      Quindio        4.00
12   Laurita       9.0    3.8    4.0    Armenia      Quindio        3.90
13    Carmen       NaN    NaN    NaN        NaN          NaN         NaN